{% comment %} templates/includes/diagnosis_detail_modal.html {% endcomment %}
<div class="modal fade" id="diagnosisModal" tabindex="-1" aria-labelledby="diagnosisModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary bg-opacity-75">
                <h5 class="modal-title text-white fw-bold" id="diagnosisModalLabel">
                    <i class="fas fa-file-medical me-2"></i>Detalles del Diagnóstico
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong><i class="fas fa-id-card me-2"></i>ID:</strong> 
                                           <span id="diagnosis-id"></span></p>
                                        <p><strong><i class="fas fa-hashtag me-2"></i>Código:</strong> 
                                           <span id="diagnosis-codigo"></span></p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong><i class="fas fa-file-medical-alt me-2"></i>Descripción:</strong> 
                                           <span id="diagnosis-descripcion"></span></p>
                                        <p><strong><i class="fas fa-info-circle me-2"></i>Datos Adicionales:</strong> 
                                           <span id="diagnosis-datos_adicionales"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cerrar
                </button>
            </div>
        </div>
    </div>
</div>