{% extends 'components/layout.html' %}
{% load static %} 
{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<body>
<div class="container-fluid">
    <!-- Paciente form -->
    <!-- mensajes -->
     {% if messages %}
       <div id="notification-container" class="fixed top-0 right-0 m-3 z-50">
        {% for message in messages %}
             {% if message.tags == 'error' %}
                <div id="alert-border-error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="28" height="28">
                            <path d="M12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2zM11 14h2v2h-2v-2zm0-8h2v6h-2V6z"></path>
                        </svg>
                        <div class="ms-3">
                            <span>{{ message }}</span> <br>
                        </div>
                        <div class="ms-3">
                        <ul> 
                         {% if form.errors %}
                            {% for field, errors in form.errors.items %}
                                
                                    {% for error in errors %}
                                        <li>{{ field }}: {{ error }}</li>
                                    {% endfor %}
                                
                            {% endfor %}
                          {% endif %}
                          </ul>
                         </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
      </div>
    {% endif %}
    <!-- fin de mensajes -->
    <form method="post" enctype="multipart/form-data" class="py-4">
      {% csrf_token %}  
      <div class="card shadow p-4">
        <h2 class="text-center text-2xl font-bold text-blue-600 mb-4" style="font-family: Arial, sans-serif;">{{ title1 }}</h2>
        <div class="row g-0">
        <div class="col-md-6 mb-3 pr-1 pl-1">
            <label for="{{ form.nombre_examen.id_for_label }}" class="form-label fw-bold">{{ form.nombre_examen.label }}</label>
            {{ form.nombre_examen }}
            {% if form.nombre_examen.errors %}
                <div class="text-danger">{{ form.nombre_examen.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3 pr-1 pl-1">
            <label for="{{ form.paciente.id_for_label }}" class="form-label fw-bold">{{ form.paciente.label }}</label>
            {{ form.paciente }}
            {% if form.paciente.errors %}
                <div class="text-danger">{{ form.paciente.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3 pr-1 pl-1">
            <label for="{{ form.resultado.id_for_label }}" class="form-label fw-bold">{{ form.resultado.label }}</label>
            {{ form.resultado }}
            {% if form.resultado.errors %}
                <div class="text-danger">{{ form.resultado.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3 pr-1 pl-1">
            <label for="{{ form.comentario.id_for_label }}" class="form-label fw-bold">{{ form.comentario.label }}</label>
            {{ form.comentario }}
            {% if form.comentario.errors %}
                <div class="text-danger">{{ form.comentario.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="col-md-6 mb-3 pr-1 pl-1">
            <label for="{{ form.estado.id_for_label }}" class="form-label fw-bold">{{ form.estado.label }}</label>
            {{ form.estado }}
            {% if form.estado.errors %}
                <div class="text-danger">{{ form.estado.errors.0 }}</div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-end mt-4">
            <button class="btn btn-outline-success me-2" type="submit">Registrar</button>
            <a class="btn btn-outline-warning" href="{% url 'attention:requested_exam_list' %}">Cancelar</a>
        </div>
        </div>
         </div>
        </form>
    </div>
</body>
{% endblock %}
